.nav {
  width: 100%;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  height: 90px;
}
.nav-img-title {
  display: flex;
  align-items: center;
}
.nav-img-title img {
  height: 60px;
  margin-right: 10px;
}
.nav-img-title h2 {
  color: aliceblue;
  font-size: 25px;
}
.nav-search-submit {
  display: flex;
  align-items: center;
  width: 280px;
}
.nav-search-submit form {
  width: 100%;
}
.nav-search-submit form input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.boton {
  background-color: rgb(194, 194, 194);
}
.tarjeta {
  width: 230px;
  border: 1px solid rgb(130, 130, 130);
  background-color: white;
  margin: 20px;
}
.tarjeta img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin: auto;
  margin: 0px;
}
.estadisticas {
  background-color: rgb(237, 237, 237);
}
.estadisticas h3 {
  padding: 10px;
}
.div-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
