@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.nav {
  width: 100%;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  height: 90px;
}
.nav-img-title {
  display: flex;
  align-items: center;
}
.nav-img-title img {
  height: 60px;
  margin-right: 10px;
}
.nav-img-title h2 {
  color: aliceblue;
  font-size: 25px;
  font-family: "Pokemon Solid";
}
.nav-search-submit {
  display: flex;
  align-items: center;
  width: 280px;
}
.nav-search-submit form {
  width: 100%;
}
.nav-search-submit form input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.boton {
  background-color: rgb(194, 194, 194);
}
.tarjeta {
  width: 252px;
  height: 165px;
  border-radius: 5px;
  border: 1px solid rgb(130, 130, 130);
  margin: 20px;
  position: relative;
}
.tarjeta:hover {
  transform: scale(1.1);
}
.tarjeta img {
  height: 130px;
  width: 120px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.estadisticas {
  margin: 3px;
  font-size: 15px;
  padding: 5px;
}
.name {
  font-size: 30px;
  color: white;
}
.tipoText {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.tipo {
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 10px;
  padding: 1px;
  color: white;
  font-size: 18px;
  width: 90px;
  text-align: center;
  margin: 5px;
}
.num {
  margin-left: 10px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
}
@media (max-width: 582px) {
  .tarjeta {
    width: 175px;
    margin: 10px;
    height: 155px;
  }
  .tarjeta img {
    height: 75px;
    width: 60px;
    object-fit: cover;
    position: absolute;
  }
  .nav-search-submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 185px;
  }
  .nav-search-submit form {
    width: 100%;
  }
  .boton {
    display: none;
  }
  .nav-search-submit form input {
    left: 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  .num {
    margin: 0;
    margin-left: 10px;
  }
}
@media (max-width: 387px) {
  .tarjeta {
    width: 260px;
    margin: 10px;
    height: 160px;
  }
  .tarjeta img {
    height: 120px;
    width: 150px;
    object-fit: cover;
    position: absolute;
  }
  .nav-search-submit form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-search-submit form input {
    left: 0;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
  }
}
